*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.main{
    background-color: white;
}
.main .main1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main1 .icon i{
    margin: 0 10px 0 10px;
}
.search
{
    position: relative;
}
.search input{
    border-radius: 20px;
    margin: 10px;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
}
.search .img{
    position:absolute;
    right: 10%;
    top: 19px;
}
.main .main2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2 a{
    text-decoration: none;
    color: black;
    margin: 0 15px 0 15px;
    font-size: 14px;
    font-weight: bold;
}
.main2 .link{
    margin: 10px;
    margin-left: 300px;
}
.search button{
    border-radius: 20px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    color: gray;
    font-size: 14px;
}
.main2 .search2 i{
    margin-left: 120px;
} 
